{% load static %}  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/bcf7712443.js" crossorigin="anonymous"></script>
</head>
<body>
    
   <div class="w-[100%] h-[120px]  pl-4 py-3">
    <div class="flex w-[40%] h-[40px]  flex items-center gap-3">
        <div class="w-[40px] h-[40px] rounded-full bg-white flex items-center justify-center text-2xl">
            <i class="fa-solid fa-calendar"></i>
        </div>
        <div class="text-3xl font-bold">
            <h1>{{ formatted_date }}</h1>
        </div>
    </div>
    <div class="w-[97%] h-[60px] flex justify-between items-center">
       <div class="w-[40%] h-[60px]  flex justify-between items-center">
        <div class="w-[35%] h-[30px] bg-gray-100 rounded-lg border border-black flex justify-center items-center">
            <p>Suspended employees {{ suspended }}</p>
        </div>
       </div>
       <div class="w-[40%] h-[60px]  flex justify-between items-center">
        <div class="w-[35%] h-[30px] bg-gray-100 rounded-lg border border-black flex justify-between items-center px-2">
            <div>
                <i class="fa-solid fa-table-columns"></i>
            </div>
            <div>
                <p>Customize columns</p>
            </div>
            <div>
                <i class="fa-solid fa-angle-down"></i>
            </div>
        </div>
        <div class="w-[17%] h-[30px] bg-gray-100 rounded-lg border border-black flex gap-4  justify-center items-center px-1">
            <div>
                <p>Filter by</p>
            </div>
            <div>
                <i class="fa-solid fa-angle-down"></i>
            </div>
        </div>
        <div class="w-[25%] h-[30px] bg-gray-100 rounded-lg border border-black flex gap-4  justify-center items-center px-1">
            <div>
                <i class="fa-solid fa-arrow-up-long"></i>
            </div>
            <div>
                <p>Bulk Upload</p>
            </div>
           
        </div>
       </div>
    </div>
   </div>
   <ul class=" w-[100%]  justify-between items-center flex h-[50px] bg-white">
    {% for payroll in payroll_header%}
    {% if forloop.counter == 2 %}  
    <li class="bg-[#e6f3ff] border w-[35%] h-[50px] justify-center items-center flex text-xl">
        {{ payroll }}
    </li>
    {% elif forloop.counter == 3 %}
    <li class="bg-[#cefeeb] border w-[20%] h-[50px] justify-center items-center flex text-xl">
        {{ payroll }}
    </li>
    {% elif forloop.counter == 4%}
    <li class="bg-[#ffd9d1] border w-[20%] h-[50px] justify-center items-center flex text-xl">
        {{ payroll }}
    </li>
    {% else %}
    <li class="bg-white border  w-[32%] h-[50px] justify-center items-center flex text-xl">
        {{ payroll }}
    </li>
{% endif %}
    {% endfor %}
</ul>
<ul class="w-[100%] h-[30px]  flex">
    {% for sub_headers in payroll_subheader%}
    {% if forloop.counter == 1%}
    <li class="w-[10%] h-[30px] border border-t-0 flex justify-center items-center">{{sub_headers}}</li>
    {% elif forloop.counter == 2%}
    <li class="w-[19.9%] h-[30px] border border-t-0  flex justify-center items-center">{{sub_headers}}</li>
    {% elif forloop.counter == 3%}
    <li class="w-[11%] h-[30px] border border-t-0  bg-[#f9fcff] flex justify-center items-center">{{sub_headers}}</li>
    {% elif forloop.counter == 4%}
    <li class="w-[11%] h-[30px] border border-t-0  bg-[#f9fcff] flex justify-center items-center">{{sub_headers}}</li>
    {% elif forloop.counter == 5%}
    <li class="w-[10.8%] h-[30px] border border-t-0  bg-[#f9fcff] flex justify-center items-center">{{sub_headers}}</li>
    {% elif forloop.counter == 6%}
    <li class="w-[18.7%] h-[30px] border border-t-0  bg-[#f2fffa] flex justify-center items-center">{{sub_headers}}</li>
    {% elif forloop.counter == 7%}
    <li class="w-[18.7%] h-[30px] border border-t-0  bg-[#fef6f3] flex justify-center items-center">{{sub_headers}}</li>
    {% endif %}
    {% endfor%}
</ul>
<div class="w-[100%] flex">
   <div class="w-[10%]">
    <ul>
        {% for ids in id%}
        <li class="h-[50px] flex justify-center items-center border">{{ids}}</li>
        {%endfor%}
    </ul>
   </div>
   <div class="w-[19.9%]">
    <ul>
        {% for name in names%}
        <li class="h-[50px] flex justify-center items-center border">{{name}}</li>
        {% endfor %}
    </ul>
   </div>
   <div class="w-[11%]">
    <ul>
        {% for basic_salary in basic_salaries %}
        <li class="h-[50px] flex justify-center items-center border bg-[#f9fcff]">{{ basic_salary }}</li>
        {% endfor %}
    </ul>
   </div>
   <div class="w-[11%]">
    <ul>
        {%  for health in health_insurance%}
        <li class="h-[50px] flex justify-center items-center border bg-[#f9fcff]"> {{ health }} </li>
        {% endfor %}
    </ul>
   </div>
   <div class="w-[10.8%]">
    <ul>
        {% for tot in total %}
        <li class="h-[50px] flex justify-center items-center border bg-[#f9fcff]">{{ tot }}</li>
        {% endfor %}
    </ul>
   </div>
   <div class="w-[18.7%]">
        <ul>
            {% for additions in total_additions %}
            <li class="h-[50px] flex justify-center items-center border bg-[#f2fffa]">{{ additions }}</li>
            {% endfor %}
        </ul>
   </div>
   <div class="w-[18.7%]">
    <ul>
        {% for deductions in total_deductions %}
        <li class="h-[50px] flex justify-center items-center border bg-[#fef6f3]">{{ deductions }}</li>
        {% endfor %}
    </ul>
</div>
</div>
   
    
<div class="w-[100%] h-[60px] border flex">
    <div class="w-[29.9%] border flex">
        <div class="w-[34%] h-[60px] flex flex-col gap-1 justify-center items-start px-2 ">
            <p class="text-sm">Total employees</p>
            <p class="text-2xl">{{ 42 }}</p>
        </div>
        <div class="w-[66%] h-[60px]  flex flex-col gap-1 justify-center items-end px-2">
            <p class="text-sm">Total amount</p>
            <p class="text-2xl">${{ final_sum }}</p>
        </div>
    </div>
    <div class="w-[11%] border flex justify-center items-center">
        {{ all_total.0}}
    </div>
    <div class="w-[11%] border flex justify-center items-center">
        {{ all_total.1}}
    </div>
    <div class="w-[10.8%] border flex justify-center items-center">
        {{ all_total.2}}
    </div>
    <div class="w-[18.7%] border flex justify-center items-center">
        {{ all_total.3}}
    </div>
    <div class="w-[18.7%] border flex justify-center items-center">
        {{ all_total.4}}
    </div>
</div>
<!-- <ul>
    
</ul> -->

<script src="{% static 'script.js' %}"></script>
</body>
</html>
